.header_border {
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 80px;
    background-color: #9BC2F9;
    border: 1px solid blue;

}

.header{
    min-height: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #CCDEFF;
    border: 1px solid red;

}

.artical_feature{
    min-height: 90px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #CCDEFF;
    border: 1px solid red;
    
}

.ad{
    min-height: 90px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #6BA7DB;
    border: 1px solid red;

}

.artical_logo{
    min-height: 250px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #CCDEFF;
    border: 1px solid red;

}









